@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: #121212;
    padding: 10px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-logo i {
    font-size: 24px;
}

.nav-library {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-library i, .nav-library p {
    color: #B7B3B6;
    font-size: 14px;
    transition: color 0.3s ease;
}

.nav-library:hover i, .nav-library:hover p {
    color: #fff;
}
.nav-playlist, .nav-podcasts {
    background-color: #242424;
    padding: 16px;
    border-radius: 8px;
}

.nav-playlist button, .nav-podcasts button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 6px 10px;
    margin-top: 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-playlist button:hover, .nav-podcasts button:hover {
    background-color: #1DB954;
    color: #fff;
}
.nav-playlist p, .nav-podcasts p {
    font-size: 12px;
}

.nav-footer {
    margin-top: 55px;
}

.nav-footer a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 8px;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}

.nav-footer a:hover {
    color: #fff;
}

.nav-btn-lang {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 16px;
    transition: background-color 0.3s ease;
}

.nav-btn-lang:hover {
    background-color: #242424;
}

.search-bar, .content {
    margin-left: -15px;
    margin-top: -10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.search-bar:hover {
    background-color: #303030;
}

main {
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 16px;
    border-radius: 20px;
    width: 300px;
}

.search-bar input {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    margin-left: 10px;
    outline: none;
}

.psbt {
    margin-left: 450px;
    margin-top: -32px;
}

.psbt a {
    color: #B7B3B6;
    text-decoration: none;
    font-size: 11px;
    transition: color 0.3s ease;
}

.psbt a:hover {
    color: #fff;
}

.install-app {
    margin-left: 650px;
    margin-top: -25px;
}

.install-app a {
    color: #B7B3B6;
    text-decoration: none;
    font-size: 11px;
    transition: color 0.3s ease;
}

.install-app a:hover {
    color: #fff;
}

.subscribe {
    margin-left: 768px;
    margin-top: -25px;
}

.subscribe a {
    color: #B7B3B6;
    text-decoration: none;
    font-size: 11px;
    transition: color 0.3s ease;
}

.subscribe a:hover {
    color: #fff;
}

.login {
    margin-left: 850px;
    margin-top: -30px;
}

.btn-login {
    background-color: #1DB954;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 1s ease;
    transition: color 1s ease;
}

.btn-login:hover {
    background-color: #fff;
    color: #1DB954;
}

.artists-grid, .albums-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 24px;
    margin-bottom: 40px;
}

.artist-card, .album-card {
    background-color: #181818;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.artist-card:hover, .album-card:hover {
    background-color: #282828;
}

.artist-card img, .album-card img {
    width: 100%;
    max-height: 70%;
    border-radius: 50%;
    margin-bottom: 16px;
}

.artist-card h3, .album-card h3 {
    font-size: 12px;
}

.artist-card p, .album-card p {
    font-size: 10px;
    color: #B7B3B6;
}

.content {
    margin-top: 25px;
}

.content h2 {
    margin-bottom: 10px;
}

.banner {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, #AF2896, #509BF5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}

.banner h2 {
    font-size: 12px;
    margin-left: 5px;
}

.banner p {
    font-size: 10px;
    margin-left: 5px;
}

.btn-premium {
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 15px;
    font-weight: 600;
}

.btn-premium:hover {
    background-color: #B7B3B6;
}